<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>20/04/01 10:34:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test01Suscripcion.IngresoAmbiente()[pri:0, instance:test.Test01Suscripcion@f6c48ac]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>20/04/01 10:34:11</td>   <td>9968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01Suscripcion.checkAllDescargasMovil()[pri:1, instance:test.Test01Suscripcion@f6c48ac]">checkAllDescargasMovil</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>20/04/01 10:34:34</td>   <td>32925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test01Suscripcion@f6c48ac]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>20/04/01 10:34:36</td>   <td>35223</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.CloseChrome()[pri:0, instance:test.Test01Suscripcion@f6c48ac]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
</table>
